{% if site.data.theme.carousel-type == "pdf" %}
{%- assign carousel-items = site.data[site.metadata] | where: "format","application/pdf" -%}
{% capture itemImg %}"{{ site.cdm-url }}/digital/api/singleitem/image/pdf/{{ site.cdm-collection-id }}/" + carouselItems[i][1] + "/default.png"{% endcapture %}
{% elsif site.data.theme.carousel-type == "youtube" %}
{%- assign carousel-items = site.data[site.metadata] | where_exp: "item","item.youtubeid != nil" -%}
{% capture itemImg %}"https://img.youtube.com/vi/" + carouselItems[i][1] + "/hqdefault.jpg"{% endcapture %}
{% elsif site.data.theme.carousel-type == "image" %}
{%- assign carousel-items = site.data[site.metadata] | where: "format","image/jpg" -%}
{% capture itemImg %}"{{ site.cdm-url }}/digital/iiif/{{ site.cdm-collection-id }}/" + carouselItems[i][1] + "/full/,{{ site.data.theme.carousel-height | remove: 'px' | default: '450' }}/0/default.jpg"{% endcapture %}
{% else %}
{%- assign carousel-items = site.data[site.metadata] | where_exp: "item","item.youtubeid == nil" -%}
{% capture itemImg %}"{{ site.cdm-url }}/utils/getthumbnail/collection/{{ site.cdm-collection-id }}/id/" + carouselItems[i][1]{% endcapture %}
{%- endif -%}

<script> 
    //title,youtubeid/cdmid,objectid
    var carouselItems = [ {% for c in carousel-items %}[ {{ c.title | jsonify }}, "{% if site.data.theme.carousel-type == 'youtube' %}{{ c.youtubeid }}{% else %}{{ c.cdmid }}{% endif %}", "{{ c.objectid }}","{{site.metadata}}{{ c.cdmid | plus: 3 }}" ]{% unless forloop.last %}, {% endunless %}{% endfor %}];
    var carousel = document.getElementById("carouselInner");
    carouselItems.sort(function() { return 0.5 - Math.random() });
    var i;
    var slides = "";
    for (i=0; i < {{ carousel-items | size | at_most: 9 }}; i++) {
        itemImg = {{ itemImg }};
        slide = "<div class='carousel-item text-center py-2'><img class='image-fluid mx-auto h-100 lazyload' alt='image highlight' data-src='" + itemImg + "'> <div class='carousel-caption'><h5 class='carousel-item-title text-white py-2'>" + carouselItems[i][0] + "</h5><a target='_blank' href='{{ site.baseurl }}/items/" + carouselItems[i][3] + ".html' class='btn btn-sm btn-primary'>View Item</a></div></div>";
        slides += slide;
    }
    carousel.innerHTML = slides;
    $(".carousel-item").first().addClass("active");
</script>