{%- if site.data.theme.featured-locations -%}
{%- assign topLocations = site.data.theme.featured-locations | split: ";" -%}
{%- else -%}
{%- assign locations-fields = site.data.theme.locations-fields | split: ";" -%}
{%- assign places = "" -%}
{%- for c in locations-fields -%}
{% assign new = site.data[site.metadata] | map: c | join: ";" %}
{% assign places = places | append: ";" | append: new %}
{%- endfor -%}
{%- assign uniqPlaces = places | downcase | split: ";" | array_count_uniq -%}
{%- capture topLocations -%}
{% for i in uniqPlaces limit: site.data.theme.featured-locations-max %}{{ i[0] }};{% endfor %}{% endcapture %}
{%- assign topLocations = topLocations | split: ";" -%}
{%- endif -%}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Locations</h5>
    <p class="card-text">
        {% for l in topLocations %}<a class="btn btn-sm btn-outline-info m-1" href="{{ l | strip | uri_escape | prepend: '/browse.html#' | absolute_url }}">{{ l | strip }}</a>
        {% endfor %}
    </p>
  </div>
</div>
