---
layout: page
lazyload: true
---
{%- assign items = site.data[site.metadata] -%}
{%- assign centuries = "ca. 1200;Mid-12th Century;13th century;Mid-14th century;15th Century;Late 15th Century;1498;Late 16th century" | split: ";" -%}

<div class="dropdown float-right" id="year-nav">
    <button class="btn btn-info dropdown-toggle" type="button" id="yearButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Century
    </button>
    <div class="dropdown-menu" aria-labelledby="yearButton">
        {% for y in centuries %}
        <a class="dropdown-item" href="#{{ y | slugify }}">{{ y }}</a>{% endfor %}
    </div>
</div>

{{ content }}

<table id="timeline" class="table table-striped">
    {% for century in centuries %}
    <tr id="{{ century | slugify }}">
        <th>
            <h3>{{ century }}</h3>
        </th>
        <td>
            {% for item in items %}{% if item.publication_date contains century %}
            <a href="{{ '/items/' | absolute_url | append: item.objectid | append: '.html' }}"><img class="lazyload img-thumbnail m-1" data-src="{% if item.youtubeid %}https://img.youtube.com/vi/{{ item.youtubeid }}/mqdefault.jpg{% else %}{{ site.sobek-url }}/{{ item.systemfolder }}{{ item.imageid }}thm.jpg{% endif %}" alt="{{ item.title | escape }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }} | {{ item.date | escape }}"></a>
            {% endif %}{% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
